<!DOCTYPE html>
<html>
<head>
    <title>Forkrain</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link href="/stylesheets/jquery.fullPage.css" rel="stylesheet">
    <script src="/javascripts/jquery.fullPage.min.js"></script>
    <script src="/javascripts/index.js"></script>


</head>
<body>
<script>
    var test = <%- isLogin %>

        console.log(test);

</script>

<div id="header_bg"></div>
<div id="header">
    <a href=""><div id="logo"></div></a>
    <div id="search">
        <input type="text" id="search_input"/>
        <i id="search_button" class="material-icons">search</i>
    </div>
    <% if(isLogin) { %>
        <a id="right_top_btn" href="/users/<%= userId %>">MYPAGE</a>
    <% } else { %>
        <a id="right_top_btn" data-toggle="modal" data-target="#myModal">LOGIN</a>
    <% } %>
</div>


<div id="fullpage">
    <div class="section">
        <div id="background"></div>
        <div id="contents">
            <div id="scroll_down"></div>
            <div id="scroll_desc">스크롤을 내려 다른 개발자의<br/> 포크를 확인하세요</div>
            <div id="from"></div>

            <div id="app_title">FORKRAIN</div>
            <div id="divider">ㅡ</div>
            <div class="desc">개발자를 위한 코딩 지식 공유 플랫폼 FORKRAIN</div>
            <div class="desc">비처럼 쏟아지는 정보들 찍어내서 저장하고 공유해보세요!</div>
        </div>
    </div>
    <div class="section">
        <div class="section_contents">
            <% var i = 0; %>
            <div class="hot_reco">HOT RECOMMEND</div>
            <% for (var key in data) { %>
            <!--여기가 컨텐츠 1/3 -->
            <div class="card">
                <div class="image_wrapper">
                    <div class="url_image" style="background: url('<%= data[key].image %>')"></div>
                    <div class="over_image">
                        <div class="sec_title"><%= data[key].title %></div>
                    </div>
                </div>
                <h4><a href="<%= data[key].url %>" style="color: black"><%= data[key].title %></a></h4>
                <div class="contents"><%= data[key].contents.substr(0, 100) %>...</div>
                <div class="tags">
                    <% for (var tag in data[key].tags) { %>
                    <a href="/apis/search?keyword=<%= data[key].tags[tag] %> " style="color: black">#<%= data[key].tags[tag] %></a>
                    <% } %>
                </div>
                <div class="url"><b>URL : </b> <%= data[key].url %></div>
            </div>
            <% i++ %>
            <% if (i % 3 == 0) { %>
        </div>
    </div>
    <% if(i != data.length) { %>
    <div class="section">
        <div class="section_contents">
            <% } else { %>
            <div>
                <div>
                    <% } %>
                    <% } %>
                    <% } %>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal_title">Github로 로그인하기</div>
                    <div id="login_with_github_wrapper">
                        <input id="login_with_github_btn" type="button" onclick="location.href='/auth/github';"
                               style="background-image:url('/images/sign_in_with_github.png');"/>
                    </div>
                    <div id="modal_hr">
                        또는
                    </div>
                    <div id="not_login_wrapper">
                        <button id="not_login" type="button" class="btn btn-default" data-dismiss="modal">로그인 없이 둘러보기
                    </div>
                    </button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
